html {
	background: #f8f0e5 url("/public/images/bg_verlauf.jpg") repeat-x center top;
}
body {
	margin: 0;
	padding-top:300px;  /* для зимы было 100px */
	background: url("/public/images/head_ru.jpg") no-repeat center 0;
	color: #0b2869;
	font: 15px/20px Arial, sans-serif;
   padding-bottom: 15px;
}
h1 {
	position: absolute;
	top: -100%;
}
h2 {
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 40px;
	margin-bottom: 0;
}
h3 {
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 0;
}
a {
	outline: none;
}
a img {
	border: none;
}



#content, h1 {
	padding: 5px 50px 30px;
	width: 800px;
	margin: 0 auto;
	background-color: #fcf4e8;
	border: 1px solid #d5d5ea;
	border-bottom: none;
}

#content a {
	color: #0ab;
	text-decoration: underline;
}

#p a{
    text-decoration: none;
}

#content a:hover {
	color: #66a;
}
#content a:visited {
	color: #6bc;
}
#content p img {
	float: right;
	padding: 0 20px 40px 50px;
}
#content p.small {
	font-size: 10pt;
	line-height: 1em;
	padding: 1em 0 2em 0;
}
#content p.left {
	position: absolute;
	margin: 5px 0;
}
#content p.right {
	position: relative;
	margin: 5px 0 5px 100px;
}
#navi {
	display: table;
	position: absolute;
	top: 260px;
	left: 50%;
	margin: 0 0 0 -445px;
	padding: 0;
	width: 890px;
	height: 30px;
	font-size: 1.2em;
	text-align: center;
}
#navi li {
	display: table-cell;
	list-style-type: none;
	padding: 0 1em;
	color: #fff;
	text-decoration: none;
}
#navi #first {padding-left: 0; text-align: left;}
#navi #last {padding-right: 0; text-align: right;}
#navi a {
	color: #ddf;
	text-decoration: none;
}
#navi a:hover {
	color: #fee;
	text-decoration: underline;
}
#lang {
	display: block;
	position: absolute;
	top: 70px;
	right: 50%;
	margin: 0 -449px 0 0;
}
#lang li {
	float: left;
	list-style-type: none;
	padding: 0 4px;
}
ul.plain, ul.calendar {
	list-style-type: none;
	padding: 0;
}
ul.plain li, ul.calendar li {
	list-style-type: none;
}
ul.plain>li {
	padding: 0 0 1em 0;
}
ul.plain li:first-child {
	padding-top: 1em;
}
ul.calendar {
	font-size: 1.2em;
}
ul.calendar li:first-child {
	padding-top: 0.5em;
}
ul.calendar li:last-child {
	padding-bottom: 1em;
}
ul.calendar li.date {
	margin: 2em 0 1em;
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
ul.calendar li.title {
	padding: 1em 0;
	font-size: 1.2em;
	font-weight: bold;
	color: #a00;
}
ul.calendar li.chapter {
	padding-bottom: 0.5em;
	font-weight: bold;
	color: #000;
}
ul.calendar>li {
	border-bottom: 1px solid #6bc;
	padding-left: 2em;
}

.youtube-player {
	margin: 20px 80px;
}

label {
	display: block;
	float: left;
	width: 450px;
	padding-bottom: 1em;
}
label input {
	float: right;
	width: 280px;
}
label select {
	float: right;
	width: 150px;
	margin-right: 230px;
}
textarea {
	width: 500px;
	height: 200px;
	margin-bottom: 20px;
    -webkit-appearance: textfield;
}
.error {
	color: red;
}
.errorfield {
	border: 2px solid red;
}
.account {
	display: table;
	border-collapse: collapse;
	font-size: 0.9em;
	width: 100%;
}
.account td {
	border: 1px solid gray;
	padding: 5px 10px;
	vertical-align: top;
	width: 50%;
}
.account em {
	font-weight: bold;
	font-style: normal;
}

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  body { padding-top: 50px;}
  h1 { position: static; }
  #navi, #lang { display: none; }
  #content, h1 { border: none; }
}

hr{
    border-color: #0B2869;
}

#content {
    margin-bottom: 50px;

}
.menu-active {
    color: #FF8C00 !important;
}

a.item.active{
    color: #FF8C00 !important;
}
